In [1]:
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.tree import DecisionTreeClassifier
from sklearn.externals import joblib

In [2]:
df = pd.read_csv('ChanDarren_RaiTaran_Lab2a.csv')

In [3]:
df.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

In [4]:
male = pd.get_dummies(df['Sex'], drop_first=True)
merged = pd.concat([df, male], axis='columns')
merged = merged.drop('Sex', axis='columns')

In [5]:
classes = pd.get_dummies(df['Pclass'], drop_first=True)
classes.columns = ['Class 2', 'Class 3']
merged2 = pd.concat([merged, classes], axis='columns')
merged2 = merged2.drop('Pclass', axis='columns')

In [6]:
merged2.Age = merged2.Age.fillna(merged2.Age.median())

In [7]:
features = merged2[[
    'Age', 'SibSp', 'Parch', 'Fare', 'male', 'Class 2', 'Class 3'
]]
target = merged2['Survived']

In [8]:
clf = DecisionTreeClassifier(max_depth=10)

# Train the model

In [9]:
clf.fit(features, target)

DecisionTreeClassifier(class_weight=None, criterion='gini', max_depth=10,
            max_features=None, max_leaf_nodes=None,
            min_impurity_decrease=0.0, min_impurity_split=None,
            min_samples_leaf=1, min_samples_split=2,
            min_weight_fraction_leaf=0.0, presort=False, random_state=None,
            splitter='best')

# Use the model

In [10]:
clf.predict([[30, 0, 0, 32, 1, 0, 1]])

array([0])

In [11]:
clf.predict_proba([[30, 0, 0, 32, 1, 0, 1]])

array([[0.61428571, 0.38571429]])

# Save the model

In [ ]:
joblib.dump(clf, 'my_model.pkl')